body * {
  outline: 1px solid lightgrey;
}
.conteiner{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-head{
  max-width: 200px ;
  max-height: 92px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  }

  .logoimage{
    max-width: 100px;
    max-height: 90px;
  }
  .orange{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fb9c06;
    font-family: sans-serif;
  }
  .logotext{
    width: 80px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 15px;
  }
  .rabbit{
    font-size: 25px;
    color: #6e6d6b;
    font-family: fantasy;
    text-transform: uppercase;
  }
  .navigate_link{
    margin: 0 15px;
    text-decoration: none;
  }
  .imageicons{
    max-width: 35px;
    max-height: 35px;
  }
  .slider{
    border-top: 3px solid #fcba50;
    border-bottom: 3px solid #fcba50;
    height: 250px;
    background-image: url(https://i.ibb.co/C8MsgrS/big-orange-bg.png);
    background-size: cover;
  }
  .slider-box{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  .slider-content{
    text-align: center;
  }
  .firstq-line{
    background-color: #4e4f4f;
    color: #fb9c06;
    padding: 5px;
    font-family:fantasy;
    text-transform: uppercase;
  }
  .secondq-line{
    color: #6e6d6b;
    background-color: #ffc759;
    padding: 5px;
    font-family: fantasy;
    text-transform: uppercase;
  }

  