body * {
  outline: 1px solid lightgrey;
}
  #mainmain{
    width: 481px;
    height: 698px;
    position: absolute;
    left: 711px;
    }
  #main{
    width: 442px;
    height: 469px;
    position: absolute;
    left: 730px;
    top: 34px;
    }
    #p1{
      width: 199px;
      height: 49px;
      background: #358765;
      position: absolute;
      left: 852px;
      top: 34px;
    }
    #p2{
      width: 153px;
      height: 116px;
      background: #588924;
      position: absolute;
      left: 764px;
      top: 117px;
    }
    #p3{
      width: 153px;
      height: 116px;
      background: #588924;
      position: absolute;
      left: 985px;
      top: 117px;
    }
    #p4{
      width: 147px;
      height: 147px;
      background: #EE2525;
      position: absolute;
      left: 730px;
      top: 267px;
    }
    #p5{
      width: 147px;
      height: 147px;
      background:#2D4BB5;
      position: absolute;
      left: 878px;
      top: 267px;
    }
    #p6{
      width: 147px;
      height: 147px;
      background:#EDF111;
      position: absolute;
      left: 1026px;
      top: 267px;
    }
    #p7{
      width: 442px;
      height: 55px;
      background:#C4C4C4;
      position: absolute;
      left: 730px;
      top: 448px;
    }   
  