body * {
  outline: 1px solid lightgrey;
}
.main-conteiner{
  max-width: 442px;
  margin: 0 auto;
}
.header{
  width: 199px;
  height: 49px;
  margin: 0 auto;
  background-color: #358765;
}
.two-coloms{
  padding-top: 34px;
  font-size: 0;
}
.two-coloms_colomn{
  padding-left: 34px;
  float: left;
}
.two-coloms_colom{
  padding-right: 34px;
  float: right;
}
.content-green{
  background-color: #588924;
  width: 153px;
  height: 116px;
}
.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
.three-coloms{
  padding-top: 34px;
  font-size: 0;
}
.colomn{
  float: left;
}
.red{
  background-color: #EE2525;
  width: 147px;
  height: 147px;
}
.colomnn{
  float: left;
}
.blue{
  background-color: #2D4BB5;
  width: 147px;
  height: 147px;
}
.colomnnn{  
  float: right;
}
.yellow{
  background-color: #EDF111;
  width: 147px;
  height: 147px;
}
.footer{
  margin-top: 34px;
  width: 100%;
  height: 55px;
  background-color: #C4C4C4;
}

  


